<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendacloud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaCloud">
        <activity
            android:name=".ShowNotes.ShowNotes"
            android:exported="true" />
        <activity
            android:name=".Profile.Profile"
            android:exported="true" />
        <activity
            android:name=".Archived.Archived"
            android:exported="true" />
        <activity
            android:name=".About.About"
            android:exported="true" />
        <activity
            android:name=".AddNoteLogic.AddNote"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".SingUp"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Pantalla_De_Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>